<form class="form-horizontal" [formGroup]="inputsForm">  
  <!--front section-->
  <h5><b>Front Section {{taskId}}</b></h5>
  <div class="form-group">
        <div class="checkbox">
          <div class="col-lg-10 col-md-10 col-sm-12">
            <label>
           Cover page has correct date, title, and contact address
            </label>
          </div>
        <div class="col-lg-2 col-md-2 col-sm-12">
          <input  type="checkbox" 
                  formControlName="coverPage" 
                  [(ngModel)]="QCObject.coverPage">
        </div>
      </div>
  </div>
     <div class="form-group">
        <div class="checkbox">
          <div class="col-lg-10 col-md-8 col-sm-12">
            <label>
           Tables of contents/tables/figures are accurate: titles match document, pages match; numbers run consecutively and have correct punctuation
            </label>
          </div>
        <div class="col-lg-2 col-md-2 col-sm-12">
          <input  type="checkbox" 
                  formControlName="tableContents" 
                  [(ngModel)]="QCObject.tableContents">
        </div>
      </div>
  </div>
     <div class="form-group">
        <div class="checkbox">
          <div class="col-lg-10 col-md-10 col-sm-12">
            <label>
           The Executive Summary and Introduction are updated with appropriate data and discussion of trends
            </label>
          </div>
        <div class="col-lg-2 col-md-2 col-sm-12">
          <input  type="checkbox" 
                  formControlName="executiveSummary" 
                  [(ngModel)]="QCObject.executiveSummary">
        </div>
      </div>
  </div>
    <div class="form-group">
        <div class=" checkbox frontComment">
          <div class="col-lg-12 col-md-12 col-sm-12">
            <label>
              Others:  Please Specify
            </label>
          </div>
        <div class="col-lg-10 col-md-12 col-sm-12">
          <textarea  
                  formControlName="frontComment" 
                  [(ngModel)]="QCObject.frontComment"
                  rows="3"></textarea>
        </div>
      </div>
  </div>
    <hr>
  <!--tables anf figures-->
  <h5><b>Tables & Figures</b></h5>
  <div class="form-group">
        <div class="checkbox">
          <div class="col-lg-10 col-md-10 col-sm-12">
            <label>All numbers in tables match numbers in spreadsheets
            </label>
          </div>
        <div class="col-lg-2 col-md-2 col-sm-12">
          <input  type="checkbox" 
                  formControlName="matchNumbers" 
                  [(ngModel)]="QCObject.matchNumbers">
        </div>
      </div>
  </div>
  <div class="form-group">
        <div class="checkbox">
          <div class="col-lg-10 col-md-10 col-sm-12">
            <label>Check that all tables have correct number of significant digits 
            </label>
          </div>
        <div class="col-lg-2 col-md-2 col-sm-12">
          <input  type="checkbox" 
                  formControlName="significantDigits" 
                  [(ngModel)]="QCObject.significantDigits">
        </div>
      </div>
  </div> 
   <div class="form-group">
        <div class="checkbox">
          <div class="col-lg-10 col-md-10 col-sm-12">
            <label>Check alignment in columns and labels
            </label>
          </div>
        <div class="col-lg-2 col-md-2 col-sm-12">
          <input  type="checkbox" 
                  formControlName="alignment" 
                  [(ngModel)]="QCObject.alignment">
        </div>
      </div>
  </div> 
  <div class="form-group">
        <div class="checkbox">
          <div class="col-lg-10 col-md-10 col-sm-12">
            <label>Check that table formatting is consistent
            </label>
          </div>
        <div class="col-lg-2 col-md-2 col-sm-12">
          <input  type="checkbox" 
                  formControlName="consistentFormatting" 
                  [(ngModel)]="QCObject.consistentFormatting">
        </div>
      </div>
  </div> 
  <div class="form-group">
        <div class="checkbox">
          <div class="col-lg-10 col-md-10 col-sm-12">
            <label>Check that all figures are updated with new data and referenced in the text
            </label>
          </div>
        <div class="col-lg-2 col-md-2 col-sm-12">
          <input  type="checkbox" 
                  formControlName="updatedFigures" 
                  [(ngModel)]="QCObject.updatedFigures">
        </div>
      </div>
  </div>
  <div class="form-group">
        <div class="checkbox">
          <div class="col-lg-10 col-md-10 col-sm-12">
            <label>Check table and figure titles for accuracy and consistency with content
            </label>
          </div>
        <div class="col-lg-2 col-md-2 col-sm-12">
          <input  type="checkbox" 
                  formControlName="accuracy" 
                  [(ngModel)]="QCObject.accuracy">
        </div>
      </div>
  </div>  
   <div class="form-group">
        <div class=" checkbox frontComment">
          <div class="col-lg-12 col-md-12 col-sm-12">
            <label>Others:  Please Specify
            </label>
          </div>
        <div class="col-lg-10 col-md-12 col-sm-12">
          <textarea  
                  formControlName="tablesComment" 
                  [(ngModel)]="QCObject.tablesComment"
                  rows="3"></textarea>
        </div>
      </div>
  </div>  
  <hr>
    <!--References-->
    <h5><b>References</b></h5>
  <div class="form-group">
        <div class="checkbox">
          <div class="col-lg-10 col-md-10 col-sm-12">
            <label>Check consistency of references, and that in text citations and references match
            </label>
          </div>
        <div class="col-lg-2 col-md-2 col-sm-12">
          <input  type="checkbox" 
                  formControlName="referenceConsistency" 
                  [(ngModel)]="QCObject.referenceConsistency">
        </div>
      </div>
  </div> 
  <div class="form-group">
        <div class=" checkbox frontComment">
          <div class="col-lg-12 col-md-12 col-sm-12">
            <label>Others:  Please Specify
            </label>
          </div>
        <div class="col-lg-10 col-md-12 col-sm-12">
          <textarea  
                  formControlName="referenceComment" 
                  [(ngModel)]="QCObject.referenceComment"
                  rows="3"></textarea>
        </div>
      </div>
  </div>
    <hr>
 <!--General Format-->   
  <h5><b>General Format</b></h5> 
<div class="form-group">
        <div class="checkbox">
          <div class="col-lg-10 col-md-10 col-sm-12">
            <label>All acronyms are spelled out first time and not subsequent times throughout each chapter
            </label>
          </div>
        <div class="col-lg-2 col-md-2 col-sm-12">
          <input  type="checkbox" 
                  formControlName="acronyms" 
                  [(ngModel)]="QCObject.acronyms">
        </div>
      </div>
  </div> 
  <div class="form-group">
        <div class="checkbox">
          <div class="col-lg-10 col-md-10 col-sm-12">
            <label>All fonts in text, headings, titles, and subheadings are consistent
            </label>
          </div>
        <div class="col-lg-2 col-md-2 col-sm-12">
          <input  type="checkbox" 
                  formControlName="fonts" 
                  [(ngModel)]="QCObject.fonts">
        </div>
      </div>
  </div>
  <div class="form-group">
        <div class="checkbox">
          <div class="col-lg-10 col-md-10 col-sm-12">
            <label>All highlighting, notes, and comments are removed from document
            </label>
          </div>
        <div class="col-lg-2 col-md-2 col-sm-12">
          <input  type="checkbox" 
                  formControlName="highlighting" 
                  [(ngModel)]="QCObject.highlighting">
        </div>
      </div>
  </div>
  <div class="form-group">
        <div class="checkbox">
          <div class="col-lg-10 col-md-10 col-sm-12">
            <label>Size, style, and indenting of bullets are consistent
            </label>
          </div>
        <div class="col-lg-2 col-md-2 col-sm-12">
          <input  type="checkbox" 
                  formControlName="styling" 
                  [(ngModel)]="QCObject.styling">
        </div>
      </div>
  </div>
  <div class="form-group">
        <div class="checkbox">
          <div class="col-lg-10 col-md-10 col-sm-12">
            <label>Spell check is complete
            </label>
          </div>
        <div class="col-lg-2 col-md-2 col-sm-12">
          <input  type="checkbox" 
                  formControlName="spell" 
                  [(ngModel)]="QCObject.spell">
        </div>
      </div>
  </div>
  <div class="form-group">
        <div class=" checkbox frontComment">
          <div class="col-lg-12 col-md-12 col-sm-12">
            <label>Others:  Please Specify
            </label>
          </div>
        <div class="col-lg-10 col-md-12 col-sm-12">
          <textarea  
                  formControlName="generalComment" 
                  [(ngModel)]="QCObject.generalComment"
                  rows="3"></textarea>
        </div>
      </div>
  </div>  
    <button type="button" *ngIf="QCObject.add && isManager==='true'" (click)="submitQC1()" class="pull-right">Submit</button>
    <button type="button" *ngIf="!QCObject.add && isManager==='true'" (click)="editQC1()" class="pull-right">Edit</button>
</form>
