.login-form{
    position: absolute;
    top:38%;
    padding:20px;
    left:50%;
    transform: translateX(-50%);
    height: 200px;
    width:500px;
    border:1px solid #ccc;
   
} 
.login-form input{
    margin-bottom: 15px;
    height:30px;
    width: 44%;
    padding-left: 10px;
} 
.reset{
    margin-top: 20px;
}
.reset a{
   
    cursor: pointer;
}