<div class="container">
    <div class="col-lg-2 no-padding">
        <label for="course">
            Search By Course:
        </label>
    </div>
    <div class="col-lg-4 no-padding">
        <input type="text" class="course" [(ngModel)]="searchCourse" (keyup.enter)="searchLessons()">
        <button (click)="searchLessons()"><i class="fa fa-search" aria-hidden="true"></i> Search</button>
    </div>
    <div class="clearfix"></div>
   <hr>
  
<div class="learnings">
    <ul class="learningList">
        <li *ngFor="let learnings of lessons">
            <h3>{{learnings.project_name}}</h3>
            <p> <b>Project Background</b></p>
            <p>{{learnings.projectBackground}}</p>
            <p> <b>Project Lessons</b></p>
            <p>{{learnings.Lessons}}</p>
        </li>
    </ul>
</div>
</div>
