<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
        <button (click)="toggleMenu()" class="hamburger"><span></span></button>
        
      <a class="navbar-brand" (click)="goToProjects()">QAQC Manager</a>
    </div>
    <ul class="nav navbar-nav">
        
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <li><a>SUSTAINABILITY | ThorntonTomasetti</a></li>
        <li><a (click)="logout()" *ngIf="checkLogin()"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
    </ul>
  </div>
</nav>
<app-slider [@slideInOut]="menuState"></app-slider>
<router-outlet></router-outlet>