.chat-input textarea{
    width:100%;
}
.chat{
    list-style:none;
    padding: 15px;
}
.chat li{
    padding: 10px;
    background: #F39C12;
    margin-top: 10px;
    border-radius: 10px;
    color: #fff;
word-wrap: break-word;
    margin-bottom: 10px;
}
.chat li span{
     padding-top: 7px;
    font-size: 13px;
    float:right;
}
