/* You can add global styles to this file, and also import other style files */
body{
    color: #2c2c2c;
}
.vis-time-axis .vis-grid.vis-minor {
    border-color: #fff
}
.Milestone{
    background-color:#feffb0;;;
    border-color: #cb7887;
}
.Task{
    background-color: #fafafa;;
    border-color: #cb7887;
}
.vis-inner{
    text-transform: uppercase;
}
.vis-labelset .vis-label .vis-inner {
    color: #c73f50;
}