/* You can add global styles to this file, and also import other style files */
body{
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
}
.vis-time-axis .vis-grid.vis-minor {
    border-color: #fff
}
.Milestone{
    background-color:#FFFF6E;
}
.vis-inner{
    text-transform: uppercase;
}