
<form class="form-horizontal closeOutForm" [formGroup]="inputsForm">  
  <div class="form-group">
        <div class="frontComment">
          <div class="col-lg-12 col-md-12 col-sm-12 ">
            <label data-toggle="collapse" data-target="#background">
              Project Background
            </label>
          </div>
          <div class="col-lg-12 col-md-12 col-sm-12 down">
             <div id="background" class="collapse">
             <p>Insert project background information to describe why the project was required and what outcomes it was intended to produce.</p>
          </div>
          </div>
         
        <div class="col-lg-10 col-md-12 col-sm-12 ">
          <textarea  
                  formControlName="projectBackground" 
                  [(ngModel)]="closeOut.projectBackground"
                  rows="2"></textarea>
        </div>
      </div>
  </div>
    <div class="clearfix"></div>
    <hr>
    <div class="form-group">
        <div class="frontComment">
          <div class="col-lg-12 col-md-12 col-sm-12">
            <label data-toggle="collapse" data-target="#Contract">
              Contract/Financial Closure
            </label>
          </div>
          <div class="col-lg-12 col-md-12 col-sm-12 down">
             <div id="Contract" class="collapse">
             <p>current status, estimated final closure date and other notes</p>
          </div>
          </div>
         
        <div class="col-lg-10 col-md-12 col-sm-12">
          <textarea  
                  formControlName="contract" 
                  [(ngModel)]="closeOut.contract"
                  rows="2"></textarea>
        </div>
      </div>
  </div>
     <div class="form-group">
        <div class="frontComment"> 
          <div class="col-lg-12 col-md-12 col-sm-12 ">
            <label data-toggle="collapse" data-target="#Information">
             Information Management
            </label>
          </div>
          <div class="col-lg-12 col-md-12 col-sm-12 down">
             <div id="Information" class="collapse">
             <p>describe where the documents have been stored or archived, using the following table.</p>
          </div>
          </div>
         
        <div class="col-lg-10 col-md-12 col-sm-12">
          <textarea  
                  formControlName="Information" 
                  [(ngModel)]="closeOut.Information"
                  rows="2"></textarea>
        </div>
      </div>
  </div>
    <hr>
    <div class="form-group">
        <div class="frontComment">
          <div class="col-lg-12 col-md-12 col-sm-12">
            <label data-toggle="collapse" data-target="#Issues">
             Outstanding Issues
            </label>
          </div>
          <div class="col-lg-12 col-md-12 col-sm-12 down">
             <div id="Issues" class="collapse">
             <p>
               Describe any outstanding issues in the project in terms of deliverables, issues or actions that remain to be completed. Provide recommendations/plan as to how to deal with the outstanding issues. 
             </p>
          </div>
          </div>
         
        <div class="col-lg-10 col-md-12 col-sm-12">
          <textarea  
                  formControlName="Issues" 
                  [(ngModel)]="closeOut.Issues"
                  rows="2"></textarea>
        </div>
      </div>
  </div>
    <hr>
  <div class="form-group">
        <div class="frontComment">
          <div class="col-lg-12 col-md-12 col-sm-12">
            <label data-toggle="collapse" data-target="#Performance">
             Performance Assessment
            </label>
          </div>
          <div class="col-lg-12 col-md-12 col-sm-12 down">
            <div id="Performance" class="collapse">
              <ul>
                <li>
                  Provide a qualitative assessment of the end-result. Address how well project requirements, intended outcome and client expectations were met.
                </li>
                <li>
                  Provide the targeted project multiplier and the actual multiplier. Discuss variances if the targeted multiplier is not achieved and how it can be mitigated for future projects.
                </li>
                <li>
                   Provide a list of deliverables that were to be produced along with the delivery dates. Discuss deliverables and do a self-assessment of the quality of the deliverables.
                </li>
              </ul>  
          </div>
          </div>
         
        <div class="col-lg-10 col-md-12 col-sm-12 down">
          <textarea  
                  formControlName="Performance" 
                  [(ngModel)]="closeOut.Performance"
                  rows="3"></textarea>
        </div>
      </div>
  </div>
    <hr>
  <div class="form-group">
        <div class="frontComment">
          <div class="col-lg-12 col-md-12 col-sm-12">
            <label data-toggle="collapse" data-target="#Scope">
            Project Scope Changes
            </label>
          </div>
          <div class="col-lg-12 col-md-12 col-sm-12 down">
             <div id="Scope" class="collapse">
             <p>
              Provide a summary of unanticipated changes and level of effort it took to incorporate those changes into the original scope. Discuss the project team’s consultations with the client and its impact on our original scope.             
            </p>
          </div>
          </div>
         
        <div class="col-lg-10 col-md-12 col-sm-12">
          <textarea  
                  formControlName="Scope" 
                  [(ngModel)]="closeOut.Scope"
                  rows="2"></textarea>
        </div>
      </div>
  </div>
    <hr>
    <div class="form-group">
        <div class="frontComment">
          <div class="col-lg-12 col-md-12 col-sm-12">
            <label data-toggle="collapse" data-target="#Lessons">
            Lessons Learned
            </label>
          </div>
          <div class="col-lg-12 col-md-12 col-sm-12 down">
             <div id="Lessons" class="collapse">
             <p>
              Describe major successes, issues and challenges encountered during the course of the project. Include project document references, the cause of issues and recommend improvements to correct a similar problem in the future. Recommendations from successes will continue to enhance our best practices.           
             </p>
          </div>
          </div>
         
        <div class="col-lg-10 col-md-12 col-sm-12">
          <textarea  
                  formControlName="Lessons" 
                  [(ngModel)]="closeOut.Lessons"
                  rows="2"></textarea>
        </div>
      </div>
  </div>
    <hr>
  <div class="form-group">
        <div class="frontComment">
          <div class="col-lg-12 col-md-12 col-sm-12">
            <label data-toggle="collapse" data-target="#Business">
            Business Benefits
            </label>
          </div>
          <div class="col-lg-12 col-md-12 col-sm-12 down">
             <div id="Business" class="collapse ">
             <p>
              Identify specific metrics that may have benefitted our business through successful project implementation. Provide a summary to share these successes for future implementation of such efforts.
             </p>
          </div>
          </div>
         
        <div class="col-lg-10 col-md-12 col-sm-12">
          <textarea  
                  formControlName="Business" 
                  [(ngModel)]="closeOut.Business"
                  rows="2"></textarea>
        </div>
      </div>
  </div>
    <hr>
   <div class="form-group">
        <div class="frontComment">
          <div class="col-lg-12 col-md-12 col-sm-12">
            <label data-toggle="collapse" data-target="#PR">
               PR
            </label>
          </div>
          <div class="col-lg-12 col-md-12 col-sm-12 down">
             <div id="PR" class="collapse">
             <p>
              Include a timeline to finish project sheet and discuss PR during project close-out.
             </p>
          </div>
          </div>
         
        <div class="col-lg-10 col-md-12 col-sm-12">
          <textarea  
                  formControlName="PR" 
                  [(ngModel)]="closeOut.PR"
                  rows="2"></textarea>
        </div>
      </div>
  </div>
    <button type="button"  *ngIf="closeOut.add && isManager==='true'"(click)="submitProjectCloseout(true)" class="pull-right edit">Submit</button>
    <button type="button"  *ngIf="!closeOut.add && isManager==='true'" class="pull-right edit" (click)="editProjectCloseout()">Save</button>
     <button type="button"  *ngIf="!closeOut.add && isManager==='true'" class="pull-right edit reopen" (click)="reOpen(false)">
       Re-open
      </button>
     <button type="button"  *ngIf="!closeOut.add && isManager==='true'" class="pull-right edit reopen" (click)="reOpen(true)">Close</button>
</form>