.projects li label{
    font-weight: bold
}

table td{
    cursor: pointer;
}

.sus-header{
    margin-bottom: 50px;
}
.results{
    text-transform: uppercase;
}
.formInvalid{
    color:red; 
    font-size: 13px;
}
.form-group select{
    WIDTH: 100%;
    height: 30px;
    border-radius: 3px;
    border: 1px solid #ccc;
}
.form-group input{
    WIDTH: 100%;
    height: 30px;
    border-radius: 3px;
    border: 1px solid #ccc;
}
.learning{
    cursor: pointer;
    margin-bottom: 30px;
    
}
.vis-timeline {
    width:100% !important;
    margin-left: 186px;
  }
  .display-name{
      font-size: 18px;
      color:#C73F50;
  }
  .pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: #c73f50;
    border-color: #c73f50;
}
.add-users{
    color: #c73f50;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
}