<form class="form-horizontal" [formGroup]="inputsForm">  
  <!--Inputs/Data- 1st Group-->
  <h5><b>Check input assumptions and output data are documented</b></h5>
  <div class="form-group">
        <div class="checkbox">
          <div class="col-lg-10 col-md-10 col-sm-12">
            <label>Cross-check descriptions of input parameters for various categories and ensure that these are properly recorded and archived.  
            </label>
          </div>
        <div class="col-lg-2 col-md-2 col-sm-12">
          <input  type="checkbox" 
                  formControlName="crossCheck" 
                  [(ngModel)]="QCObject.crossCheck">
        </div>
      </div>
  </div>
    <hr>
  <h5><b>Check for transcription errors in data input and reference.</b></h5>
     <div class="form-group">
        <div class="checkbox">
          <div class="col-lg-10 col-md-8 col-sm-12">
            <label>Confirm that bibliographical data references are properly cited in the internal documentation (template report)
            </label>
          </div>
        <div class="col-lg-2 col-md-2 col-sm-12">
          <input  type="checkbox" 
                  formControlName="bibliographical" 
                  [(ngModel)]="QCObject.bibliographical">
        </div>
      </div>
  </div>
     <hr>
      <h5><b> Check that spreadsheet features are used to minimize user/entry error:</b></h5>
     <div class="form-group">
     
        <div class="checkbox">
          <div class="col-lg-10 col-md-10 col-sm-12">
            <label>Create automatic look-up tables for common values used throughout calculations.
            </label>
          </div>
        <div class="col-lg-2 col-md-2 col-sm-12">
          <input  type="checkbox" 
                  formControlName="automaticLookup" 
                  [(ngModel)]="QCObject.automaticLookup">
        </div>
      </div>
  </div>
    <div class="form-group">
        <div class=" checkbox">
          <div class="col-lg-10 col-md-10 col-sm-12">
            <label>Use cell protection so fixed data cannot accidentally be changed.
            </label>
          </div>
        <div class="col-lg-2 col-md-2 col-sm-12">
          <input  type="checkbox" 
                  formControlName="protection" 
                  [(ngModel)]="QCObject.protection">
        </div>
      </div>
  </div>
  <div class="form-group">
        <div class="checkbox">
          <div class="col-lg-10 col-md-10 col-sm-12">
            <label>Build in automated checks, such as computational checks for calculations, or range checks for input data.
            </label>
          </div>
        <div class="col-lg-2 col-md-2 col-sm-12">
          <input  type="checkbox" 
                  formControlName="automatedChecks" 
                  [(ngModel)]="QCObject.automatedChecks">
        </div>
      </div>
  </div>
     <hr>
  <h5><b>Check units are correctly recorded and that appropriate conversion factors are used.  </b></h5>
  <div class="form-group">
        <div class="checkbox">
          <div class="col-lg-10 col-md-10 col-sm-12">
            <label>Check that units are properly labeled in the report and graphics
            </label>
          </div>
        <div class="col-lg-2 col-md-2 col-sm-12">
          <input  type="checkbox" 
                  formControlName="unitLabels" 
                  [(ngModel)]="QCObject.unitLabels">
        </div>
      </div>
  </div> 
   <div class="form-group">
        <div class="checkbox">
          <div class="col-lg-10 col-md-10 col-sm-12">
            <label>Check that units are correctly carried through from beginning to end of calculations.
            </label>
          </div>
        <div class="col-lg-2 col-md-2 col-sm-12">
          <input  type="checkbox" 
                  formControlName="unitsCarried" 
                  [(ngModel)]="QCObject.unitsCarried">
        </div>
      </div>
  </div> 
  <div class="form-group">
        <div class="checkbox">
          <div class="col-lg-10 col-md-10 col-sm-12">
            <label>Check that conversion factors are correct.
            </label>
          </div>
        <div class="col-lg-2 col-md-2 col-sm-12">
          <input  type="checkbox" 
                  formControlName="conversion" 
                  [(ngModel)]="QCObject.conversion">
        </div>
      </div>
  </div> 
      <h5><b>Check for consistency in data between categories.</b></h5>
  <div class="form-group">
        <div class="checkbox">
          <div class="col-lg-10 col-md-10 col-sm-12">
            <label>Identify parameters that are common to multiple categories and confirm that there is consistency in the values used for these parameters.
            </label>
          </div>
        <div class="col-lg-2 col-md-2 col-sm-12">
          <input  type="checkbox" 
                  formControlName="identifyParameters" 
                  [(ngModel)]="QCObject.identifyParameters">
        </div>
      </div>
  </div>
     <hr>
    <h5><b>Check that the movement of data among processing steps is correct.  </b></h5>
  <div class="form-group">
        <div class="checkbox">
          <div class="col-lg-10 col-md-10 col-sm-12">
            <label>Check that data are correctly aggregated from lower reporting levels to higher reporting levels when preparing summaries.
            </label>
          </div>
        <div class="col-lg-2 col-md-2 col-sm-12">
          <input  type="checkbox" 
                  formControlName="aggregated" 
                  [(ngModel)]="QCObject.aggregated">
        </div>
      </div>
  </div>
  <div class="form-group">
        <div class="checkbox">
          <div class="col-lg-10 col-md-10 col-sm-12">
            <label>Check that data are correctly transcribed between different intermediate reports. 
            </label>
          </div>
        <div class="col-lg-2 col-md-2 col-sm-12">
          <input  type="checkbox" 
                  formControlName="transcribed" 
                  [(ngModel)]="QCObject.transcribed">
        </div>
      </div>
  </div>
     <hr>
   <h5><b>Review of internal documentation and archiving</b></h5>   
   <div class="form-group">
        <div class=" checkbox">
          <div class="col-lg-10 col-md-10 col-sm-12">
            <label>Check that there is detailed internal documentation to support the estimates and enable duplication of calculations.
            </label>
          </div>
        <div class="col-lg-2 col-md-2 col-sm-12">
          <input  type="checkbox" 
                  formControlName="documentation" 
                  [(ngModel)]="QCObject.documentation">
        </div>
      </div>
  </div>  
  <div class="form-group">
        <div class="checkbox">
          <div class="col-lg-10 col-md-10 col-sm-12">
            <label>Check that the supporting data are archived and stored to facilitate detailed review.
            </label>
          </div>
        <div class="col-lg-2 col-md-2 col-sm-12">
          <input  type="checkbox" 
                  formControlName="supportingData" 
                  [(ngModel)]="QCObject.supportingData">
        </div>
      </div>
  </div> 
   <div class="form-group">
        <div class="checkbox">
          <div class="col-lg-10 col-md-10 col-sm-12">
            <label>Check that the archive is retained on P Drive following completion of the report
            </label>
          </div>
        <div class="col-lg-2 col-md-2 col-sm-12">
          <input  type="checkbox" 
                  formControlName="archive" 
                  [(ngModel)]="QCObject.archive">
        </div>
      </div>
  </div>
     <hr>
  <h5><b>Check methodological and data changes resulting in recalculations.</b></h5>      
  <div class="form-group">
        <div class=" checkbox">
          <div class="col-lg-10 col-md-10 col-sm-12">
            <label>Check for consistency in the algorithm/method used for calculations throughout the time series.  
            </label>
          </div>
        <div class="col-lg-2 col-md-2 col-sm-12">
          <input  type="checkbox" 
                  formControlName="consistency" 
                  [(ngModel)]="QCObject.consistency">
        </div>
      </div>
  </div>
    <hr>
   <h5><b>Check time series consistency</b></h5>
<div class="form-group">
        <div class="checkbox">
          <div class="col-lg-10 col-md-10 col-sm-12">
            <label>Check methodological and data changes resulting in recalculations.
            </label>
          </div>
        <div class="col-lg-2 col-md-2 col-sm-12">
          <input  type="checkbox" 
                  formControlName="methodological" 
                  [(ngModel)]="QCObject.methodological">
        </div>
      </div>
  </div> 
  <div class="form-group">
        <div class="checkbox">
          <div class="col-lg-10 col-md-10 col-sm-12">
            <label>Check that the effects of mitigation activities have been appropriately reflected in analysis.
            </label>
          </div>
        <div class="col-lg-2 col-md-2 col-sm-12">
          <input  type="checkbox" 
                  formControlName="mitigation" 
                  [(ngModel)]="QCObject.mitigation">
        </div>
      </div>
  </div>
     <hr>
  <h5><b>Check completeness</b></h5>
  <div class="form-group">
        <div class="checkbox">
          <div class="col-lg-10 col-md-10 col-sm-12">
            <label>Confirm that all performance metrics are completed.
            </label>
          </div>
        <div class="col-lg-2 col-md-2 col-sm-12">
          <input  type="checkbox" 
                  formControlName="performance" 
                  [(ngModel)]="QCObject.performance">
        </div>
      </div>
  </div>
  <div class="form-group">
        <div class="checkbox">
          <div class="col-lg-10 col-md-10 col-sm-12">
            <label>For subcategories, confirm that the entire category is being covered.
            </label>
          </div>
        <div class="col-lg-2 col-md-2 col-sm-12">
          <input  type="checkbox" 
                  formControlName="subcategories" 
                  [(ngModel)]="QCObject.subcategories">
        </div>
      </div>
  </div>
     <hr>
  <h5><b>Trend checks  </b></h5>
  <div class="form-group">
        <div class="checkbox">
          <div class="col-lg-10 col-md-10 col-sm-12">
            <label>For each category, compare current figures to a benchmarked data, if available.  If there are significant changes or departures from expected trends, re-check estimates and explain any difference.  Significant changes in emissions or removals from previous years may indicate possible input or calculation errors.
            </label>
          </div>
        <div class="col-lg-2 col-md-2 col-sm-12">
          <input  type="checkbox" 
                  formControlName="benchmarked" 
                  [(ngModel)]="QCObject.benchmarked">
        </div>
      </div>
  </div>
  <div class="form-group">
        <div class="checkbox">
          <div class="col-lg-10 col-md-10 col-sm-12">
            <label>Check if there any unusual or unexplained trends noticed for data or other parameters across the time series.
            </label>
          </div>
        <div class="col-lg-2 col-md-2 col-sm-12">
          <input  type="checkbox" 
                  formControlName="unusual" 
                  [(ngModel)]="QCObject.unusual">
        </div>
      </div>
  </div> 
    <button type="button" *ngIf="QCObject.add && isManager==='true'"(click)="submitQC2()" class="pull-right">Submit</button>
    <button type="button" *ngIf="!QCObject.add && isManager==='true'" (click)="editQC2()" class="pull-right">Edit</button>
</form>
